<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <title>
        <%= htmlWebpackPlugin.options.title %>
    </title>
    <!--    lib-->
    <script desc="lib-js">
        <%= htmlWebpackPlugin.options.templateParameters.myscript %>
    </script>
    <!--    data,image,model-->
    <script desc="model-data">
        <%= htmlWebpackPlugin.options.templateParameters.model_base64_data %>
    </script>
<!--    <script desc="img-data">-->
<!--        <%= htmlWebpackPlugin.options.templateParameters.images_base64_data %>-->
<!--    </script>-->
    <script desc="mp3-data">
        <%= htmlWebpackPlugin.options.templateParameters.mp3_base64_data %>
    </script>
    <script>
        function b64toBlob(b64Data, contentType = "", sliceSize = 512) {
            const byteCharacters = atob(b64Data);
            const byteArrays = [];

            for (var offset = 0; offset < byteCharacters.length; offset += sliceSize) {
                const slice = byteCharacters.slice(offset, offset + sliceSize);

                const byteNumbers = new Array(slice.length);
                for (var i = 0; i < slice.length; i++) {
                    byteNumbers[i] = slice.charCodeAt(i);
                }

                const byteArray = new Uint8Array(byteNumbers);
                byteArrays.push(byteArray);
            }

            const blob = new Blob(byteArrays, {
                type: contentType,
            });
            return blob;
        }
        const contentType = "application/octet-stream";

		function getModelURL(model) {return URL.createObjectURL(b64toBlob(model, contentType));}
        const blobUrl = getModelURL(scene_model);
		marmoset.noUserInterface = true; //please be considerate
		var myviewer = null;
        setTimeout(function() {
            myviewer = new marmoset.WebViewer(window.innerWidth, window.innerHeight, blobUrl);
			document.getElementById("view").appendChild(myviewer.domRoot);
			myviewer.domRoot.style.position = "absolute", myviewer.domRoot.style.left = myviewer.domRoot.style.top = 0;
			myviewer.loadScene();
        }, 300);
	  var timer = null;
	  timer = setInterval(function () {
	          if (myviewer && myviewer.scene && myviewer.scene.complete()) {
	              document.getElementById("marmosetUI").outerHTML = document.getElementById("marmosetUI");
	              clearInterval(timer);
	          }
	      }, 100);

    </script>
</head>

<body>
<div id="view"></div>
<audio autoplay loop style="display: none">
    <source id="mp3" type="audio/mpeg">
</audio>
</body>
<script>
    document.getElementById("mp3").src = `data:audio/mpeg;base64,${LaSoLa_mp3 }`;
</script>

</html>